* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(167, 202, 210);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 1px rgb(30, 29, 29);
  width: 80%;
  margin: 20px auto;
  background-color: white;
}
.header {
  text-align: center;
  border-bottom: 0.5px solid black;
  margin: 20px;
  margin-bottom: 20px;
}

.header h1 {
  letter-spacing: 2vw;
  font-size: 3.5vw;
}

.header p {
  opacity: 0.5;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* search box */
.search {
  padding: 10px;
  width: 40vw;
  text-align: center;
}

/* words list */
.words-list {
  height: 40%;
  width: 90%;

  /* background-color: red; */
}

/* list context */

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.395);
  padding: 10px;
  margin: 10px;
}

ul {
  padding: 0;
}

li:hover {
  box-shadow: 4px 4px 4px rgba(46, 45, 45, 0.491);
  transition: 1000ms;
}

li .word-context {
  display: flex;
  flex: 85%;
  width: 40%;
  flex-direction: column;
  margin: 10px;
  min-width: 20%;
}

li .buttonsection {
  display: flex;
  flex: 15%;
}

li .word {
  font-weight: bold;
  font-size: 23px;
  overflow: auto;
}

li .meaning {
  font-size: 18px;
  opacity: 0.6;
  overflow: auto;
  padding: 10px;
}

.edit {
  width: 60%;
}

.delete {
  width: 60%;
}

.save {
  width: 20%;
  margin-top: 5px;
  margin-left: 40%;
}

.textarea {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}

/* addword */

.addwordform {
  display: flex;
  flex-direction: column;
}
.addword {
  padding: 10px;
  width: 40vw;
  text-align: center;
  margin-bottom: 5px;
}

.button {
  padding: 12px;
  background-color: rgb(64, 100, 147);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonsection {
  display: flex;

  align-items: center;
}

.edit {
  margin-right: 10px;
}
/* footer */
footer {
  text-align: center;
  margin-top: 20px;
  opacity: 0.4;
  letter-spacing: 3px;
}

@media screen and (max-width: 378px) {
  li {
    flex-direction: column;
  }
  .container {
    margin: 0;
  }
  .addwordform {
    display: flex;
    flex-direction: column;
  }
  li .word-context {
    width: 100%;
  }
  .save {
    width: 100%;
    margin: 0px;
    margin-top: 5px;
  }
}
