* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(174, 198, 199);
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 800px;
  height: 400px;
  background-color: white;
  position: relative;
}

.answer {
  margin-top: 20px;
  font-size: 20px;
}
label {
  padding-left: 10px;
  opacity: 0.7;
}

.question {
  font-weight: bold;
  font-size: 25px;
}
.button {
  background-color: darkcyan;
  color: white;
  display: block;
  width: 100%;
  border: none;
  padding: 20px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  font-size: 20px;
}
.game {
}

.content {
  /* display: none; */
  padding: 20px;
}

.result {
  text-align: center;
  display: none;
}

.result h1 {
  font-size: 40px;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

.score {
  font-size: 70px;
  font-family: "open serif", monospace;
}
